* {
	margin: 0;
}

hr {
	border-color: white;
	border-width: 0.5px;
}

body {
	margin: 0%;
	margin-top: 0%;
	background-image: url("../assets/images/header.jpg");
	color: white;
}

header {
	margin: 20px;
	color: white;
}

.transparencyBox {
	white-space: nowrap;
	background: rgba(37, 50, 36, 0.8); 
	width: 420px; /* Blaze it */
}

.transparencyContent {
	opacity: 1;
}

.inline {
	opacity: 1;
	display: inline;
}

ul.nav{
	list-style-type: none;
	margin: 0px;
	margin-left: 10px;
	margin-top: 20px;
	width: 200px;
	background-color: #0f5013;
	color: white;
	float: left
}

li.nav a{
	display: block;
	color: white;
	padding: 8px 0 8px 16px;
	text-decoration: none;
	cursor: pointer;
}

li.nav a:hover{
	background-color: #69bb6e;
	color: white;
}

nav{
	float: left;
}

table, th, td {
	border: 1px solid black;
	padding: 2px;
}

content {
	padding: 20px;
	padding-top: 0px;
	display: inline-block;
	margin: auto;
	width: 80%;
	margin-left: 1%;
	margin-top: 0px;
	background: rgba(37, 50, 36, 0.8); 
}

content a {
	color: #84c888;
	text-decoration: underline;
}

content a:hover {
	color: #69bb6e;
	text-decoration: underline;
}

div.big-box{
	margin: 10px;
	width: 80%;
	margin-left: 0px;
	float:left;
	display: inline;
}

div.inv-box{
	margin: 10px;
	width: 85%;
	margin-left: 0px;
	float:left;
	display: inline;
}

div.right-box{
	float:right;
	margin-top: 10px;
	padding: 5px;
	padding-top: 0%;
	margin-left: 2px;
	border-left: solid;
	border-width: 0.5px;
	width: 13%;
	height: 200PX;
	margin-left: 0px;
	float:left;
	display: none;
}

.infoBox {
	margin: auto;
	margin-left: 1%;
	padding: 1%;
	width: 120%;
	background-color: rgba(37, 50, 36, 0.9); 
	font-size: 11px;
}

#footer {
	position: relative;
	top: 30%;
	clear: both;
	position: relative;
	z-index: 10;
	height: 3em;
	text-align: center;
	color: #e2e2e2;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: 10px;
}

.active {
	background-color: #4CAF50;
	color: white;
}

.logo {
	opacity: 1;
	margin-left: 0px;
	width: 100px;
	margin-bottom: 10px;
}

.title {
	font-size: 45px;
}

.sideString {
	margin-left: 20%;
	margin-bottom: 5%;
}